fastapi
uvicorn[standard]
gunicorn
sqlalchemy
psycopg2-binary
python-dotenv
pydantic
pyjwt
python-jose[cryptography]
python-multipart
passlib
bcrypt
pdf2image
pillow
pypdf
pytesseract
email-validator
